body {
  text-align: center;
  background: #abafae;
  font-family: sans-serif;
  font-weight: 100;
}

.timer {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

.field {
  padding: 10px;
  border-radius: 3px;
  background: #bf0073d9;
  display: inline-block;
}

.value {
  padding: 15px;
  border-radius: 3px;
  background: #81006b;
  display: inline-block;
}

.label {
  display: block;
  padding-top: 5px;
  font-size: 16px;
}
